<!--
     @author: Marco Giberna
     @email: marco.giberna@studenti.units.it
     @email: marcogiberna@gmail.com
-->

<launch>
  <arg name="experimental" default="false"/>
  <arg name="launch_rviz" default="true"/>

  <?ignore
  ?>

  <group if="$(arg experimental)">
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find robot4ws_slam)/configuration_files
          -configuration_basename archimede_3d_experimental.lua"
      output="screen">
    <remap from="points2" to="/camera/depth/color/points" />
    <remap from="scan" to="/scan"/>
    <?ignore <remap from="imu" to="/camera/imu"/> ?>
    <remap from="imu" to="/imu"/>
    <remap from="odom" to="/odom"/>
  </node>
  </group>
  <group unless="$(arg experimental)">

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find robot4ws_slam)/configuration_files
          -configuration_basename archimede_3d.lua"
      output="screen">
    <remap from="points2" to="/Archimede/d435i_camera/depth/color/points" />
    <remap from="scan" to="/Archimede/scan"/>
    <remap from="imu" to="/Archimede/imu"/>
    <remap from="odom" to="/Archimede/odom"/>
  </node>
  </group>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
  
  <group if="$(arg launch_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" required="true"
    args="-d $(find robot4ws_slam)/configuration_files/rviz/cartographer.rviz" /> 
  </group>

</launch>