<!--
     @author: Marco Giberna
     @email: marco.giberna@studenti.units.it
     @email: marcogiberna@gmail.com
-->

<launch>
  <arg name="experimental" default="false"/>
  <arg name="launch_rviz" default="true"/>
  <arg name="bag_filename"/>

  <include file="$(find robot4ws_slam)/launch/archimede_cartographer_3dslam.launch">
    <arg name="experimental" value="$(arg experimental)"/>
    <arg name="launch_rviz" value="$(arg launch_rviz)"/>
  </include>

  <node name="playbag" pkg="rosbag" type="play"
      args="--clock $(arg bag_filename)" />
  
  <param name="/use_sim_time" value="true" />
</launch>